<mat-toolbar>
  <span>
    <img src="camera.svg" alt="Camera cinematográfica" />
    Filmes
  </span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="goToFavorites()">Ver Favoritos</button>
  <button
    mat-icon-button
    class="exit-to-app-button"
    matTooltip="Logout"
    (click)="logout()"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div class="main-content">
  <div class="filters-panel">
    <h3>Filtros</h3>

    <mat-form-field appearance="outline" class="custom-input">
      <mat-label>Ordenação</mat-label>
      <mat-select (selectionChange)="onSelectionChange($event.value)">
        <mat-option *ngFor="let order of sortOrders" [value]="order">
          {{ order | fieldPipe }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h3>Gêneros</h3>

    <mat-chip-set>
      <mat-chip
        *ngFor="let filter of filters().availableGenres"
        (click)="toggleChip(filter)"
      >
        {{ filter }}
      </mat-chip>
    </mat-chip-set>
  </div>

  <div class="movie-grid">
    <div class="movies-cards">
      <app-movie-card *ngFor="let movie of movies()" [movie]="movie" />
    </div>

    <div class="pagination-controls" *ngIf="pagination()">
      <mat-paginator
        [length]="pagination().totalPages"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 50, 100]"
        aria-label="Item(s) por página"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
