$primary-color: #ff6200;
$dark-blue: #000066;
$white: #ffffff;
$black: #000;

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  color: $dark-blue;
  border: 1px solid lighten($dark-blue, 40%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-height: 228px;

  .mat-card-title,
  .mat-card-subtitle {
    color: $dark-blue;
  }

  .mat-card-content {
    p {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }

  .favorite-icon {
    color: $primary-color;

    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}
